<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net;
    script-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://ajax.googleapis.com;
    ">
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <main class="container">
        <div class="login-container">
            <h2>YouTube Video Downloader</h2>
                <input type="text" id="videoUrl" placeholder="Enter YouTube video URL" />
                <button id="downloadButton">Download</button>
                <progress id="progressBar" style="display: none;"></progress>
            <footer class="container">
                <small>&copy; 2024 seo.hj All Rights Reserved. </small>
            </footer>
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
